.input-message {
  min-height: 45px;
  
  &__textarea {
    width: 60%;
    max-height: 80px;
    border: none;
    outline: none;
    resize: none;
    overflow-y: auto !important;

    @media screen and (min-width: 768px) {
      width: 80%
    }

    &:focus,
    &:hover {
      border: none;
      outline: none;
    }
  }

  &__button-container {
    width: 40%;

    @media screen and (min-width: 768px) {
      width: 20%
    }
  }

  &__button {
    width: 100%;
  }
}